body {
  @apply w-screen h-screen bg-transparent;
}

* {
  opacity: 0.995;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}

.contextMenu {
  @apply rounded-md;

  button {
    @apply bg-[#2c3e50] hover:bg-[#34495e] text-white px-3 py-1;
  }
}